@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$font-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

*{
  padding: 0;
  margin: 0;

  background-color: $primary-color;

  font-family: $font-stack;

  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 135px;
  padding: 0 30px;

  color: $font-color;

  p {
    height: fit-content;
    font-size: 1.5em;
  }
  .nav-buttons {
    display: flex;
    gap: 25px;

    button {
      background: none;
      border-style: none;
    }
  }
}

.main-section {
  width: 100vw;
  height: auto;
}

footer {
  $background-color: #FA9500;

  width: 100vw;
  height: 461px;

  background-color: $background-color;
}